<div id="popup_large02"> <!--팝업 전체 시작 -->
    <div class="bg_top"> <!--배경 Top 영역 시작 -->
        <div class="title">
            <span class="text"><%= model.getPossessionCoupon().getEventName() %></span>
        </div>
        <div class="tit_line"></div><!--20150622 추가 -->
<%
		var eventType = model.getPossessionCoupon().getEventType(); // eventType=="002" || eventType=="304"
        var purchasedPrice = UIHelper.addThousandSeparatorCommas(model.getPossessionCoupon().getCouponAmountIssed());
        var usedPrice = UIHelper.addThousandSeparatorCommas(model.getPossessionCoupon().getCouponAmountIssed()+model.getPossessionCoupon().getEventMoney());
        var refundPrice = UIHelper.addThousandSeparatorCommas(model.getPossessionCoupon().getEventMoney());
        var expireDate = model.getPossessionCoupon().getCouponExpirationDate();
%>    
        <div class="body_title"><%= model.getPossessionCoupon().getCouponName() %></div>
        <div class="headline_bg02">
            <span class="subtext01">
                <p class="row">
                    <span class="head_text">구매금액</span>
                    <span class="sub_text"><%= purchasedPrice %>원</span>
                </p>
                <p class="row">
                    <span class="head_text">환불금액</span>
                    <span class="sub_text"><%= refundPrice %>원</span>
                </p>
			</span>
            <span class="subtext_line"></span>
            <span class="subtext02">
                <p class="row">
                    <span class="head_text">사용금액</span>
                    <span class="sub_text">
                        <span class="num"><%= usedPrice %></span>
                        <span class="kor">원</span>                    
                    </span>                
                </p>
			</span>        
        </div>
        <div class="bodyline_aa">유효기간 내 사용하지 않을 경우, 자동소멸 됩니다.<br>보너스 쿠폰금액은 환불되지 않습니다.</div>
        <div class="area_btn02">
            <span class="bt_147 focus">확인</span> <!--unfocus or focus 중 택일-->   
        </div>
    </div><!--//배경 Top 영역 끝 -->
</div><!--//팝업 전체 끝-->