<%
var product = model.getProduct();
var price = product.getPrice();
var viewablePeriodText = DateHelper.getViewablePeriodTextForPopup(product.getViewablePeriodState(), product.getViewablePeriod())
var isConfirmFail = model.isConfirmFail();
%>
<div id="popup_xlarge"> <!--팝업 전체 시작 -->
    <div class="bg_top"> <!--배경 Top 영역 시작 -->
        <div class="title">
            <span class="text">구매하기</span>
        </div>
        <div class="tit_line"></div><!--20150622 추가 -->

        <div class="body_title02"><%=product.getProductName()%></div>
        <div class="headline_bg02">
          <span class="subtext03">
                <p class="row">
                  <span class="head_text letter_space32">가격</span><!--20150127 수정 -->
                  <span class="sub_text01">
                      <span class="price"><%= UIHelper.addThousandSeparatorCommas(price) %></span>
                      <span class="won">원 (부가세 별도)</span>
                  </span>
                </p>
                <p class="row">
                    <span class="head_text">시청기간</span>
                    <span class="sub_text01">
                        <span class="num"><%= viewablePeriodText %></span>
                        <!--<span class="won">일</span>-->
                    </span>
                </p>
		  </span>
        </div>
        <div class="bodyline_aa">스마트폰을 통한 구매가 가능합니다.<br>[SKT, KT ,LG U+, KCT, CJ 모바일 외 결제 불가]</div>

        <% if(isConfirmFail){ %>
        <div class="bodyline_bb error">휴대폰 번호 형식이 올바르지 않습니다.</div>
        <% } else { %>
        <div class="bodyline_bb normal">구매를 원하시면 휴대폰 번호를 입력해 주세요.</div>
        <% } %>
        <div class="phone">휴대폰 번호</div>
        <div class="body_serialbox_mobile01 focus"><!-- focus, unfocus 중 택일-->
            <%
            var inputText = model.getInputField().getInputText();
            var cssClass = "kor";
            if(inputText.length > 0) {
                cssClass = "num";
            }
            %>
            <span class="text <%=cssClass%>"><%=model.getInputField().getInputTextForDraw()%></span><!-- 기본 셋팅 안내 글자(kor), 숫자입력(num) -->
        </div>

        <div class="area_btn">
            <%
            var buttonSize = model.getButtonGroup().getSize()
            if(buttonSize > 0) {
            for(var i = 0; i < buttonSize; i++) {
            %>
            <span class="bt_147"><%= model.getButtonGroup().getButton(i).getLabel() %></span>
            <%      }
            }
            %>
        </div>
    </div><!--//배경 Top 영역 끝 -->
</div><!--//팝업 전체 끝-->