<%
	var product = model.getProduct();
    var bundleProduct = model.getBundleProduct();

    if(product != null)	{
        var price = "";
        var listPrice = "";
        var viewablePeriodText = "";

        if(bundleProduct != null) {
            price = bundleProduct.getPrice();
            listPrice = bundleProduct.getListPrice();
            viewablePeriodText = DateHelper.getRentalPeriod(bundleProduct.getRentalDuration(), bundleProduct.getRentalDurationUnit());
        } else {
            price = product.getPrice();
            listPrice = product.getListPrice();
            viewablePeriodText = DateHelper.getViewablePeriodTextForPopup(product.getViewablePeriodState(), product.getViewablePeriod())
        }
    	var balanceOfCash = UIHelper.addThousandSeparatorCommas(model.getProduct().getPrice() - CouponManager.getApplicableCouponAmount());
    	var balanceOfCoupon = UIHelper.addThousandSeparatorCommas(CouponManager.getApplicableCouponAmount());
  
%>
<div class="headline_bg03">
	<span class="subtext04">
        <p class="row">
          <span class="head_text">가격</span>
          <span class="sub_text01">
              <span class="price"><%= UIHelper.addThousandSeparatorCommas(price) %></span>
              <span class="won">원(부가세 별도)</span>
          </span>
        </p>
        <p class="row_center01">
            <span class="sub_text01">
                <span class="kor">현금:</span>
                <span class="price"><%= balanceOfCash %></span>
                <span class="kor">원+쿠폰:</span>
                <span class="price"><%= balanceOfCoupon %></span>
                <span class="kor">원 차감</span>
            </span>
        </p>  
        <p class="row">
            <span class="head_text">시청기간</span>
            <span class="sub_text01">
                <span class="num"><%= viewablePeriodText %></span>
                <!--span class="won">일</span-->
            </span>
        </p>                
	</span>  
</div>
<div class="bodyline_dd">현금 + 쿠폰 결제가 가능합니다. 구매하시겠습니까?</div>
<%        
	var subSpanText = model.getInputField().getDefaultText();
	if(subSpanText != null && subSpanText != "")	{
		var textType = model.getSubSpanClass();
%>
		<div class="bodyline_bb <%=textType%>"><%= subSpanText%></div>
<%
	}
%>        

        <div class="body_serialbox_pw01 unfocus"><!-- focus, unfocus 중 택일-->
<%
	var passwordLength = model.getInputField().getSize();
	for(var i = 0; i < passwordLength; i++) { 
%>
			    <span class="num01 after"></span>
<%  
	} 
} 
%>
        </div>
