<%
var product = model.getProduct();
if(product != null)	{
%>
 <div class="headline_bg01">
 <%
 	var productName = product.getProductName();
 	var headTitle = "";
 	var headSubtitle = "";

     if(productName != null) {
         if(productName.indexOf(':') > -1) {
             headTitle = productName.split(":")[0];
             headSubtitle = productName.split(":")[1];
         } else {
             headTitle = "";
             headSubtitle = productName;
         }
     }
 %>
        	<p class="headtext_01"><%= headTitle %></p>
            <p class="headtext_02"><%= headSubtitle %></p>
            <p class="subtext">
                <span class="kor_price">가격:</span>
                <span class="won"><%= UIHelper.addThousandSeparatorCommas(product.getPrice()) %></span>
                <span class="kor_tax">원/월(부가세 별도)</span>
            </p>           
        </div>
        <div class="bodyline_cc"><%= model.getSubText() %></div>
<%        
	var subSpanText = model.getInputField().getDefaultText();
	if(subSpanText != null && subSpanText != "")	{
		var textType = model.getSubSpanClass();
%>
		<div class="bodyline_bb <%=textType%>"><%= subSpanText%></div>
<%
	}
%>           

        <div class="body_serialbox_pw01 unfocus"><!-- focus, unfocus 중 택일-->
<%
	var passwordLength = model.getInputField().getSize();
	for(var i = 0; i < passwordLength; i++) { 
%>
			    <span class="num01 after"></span>
<%  
	} 
}
%>
        </div>